<?xml version="1.0"?>
<!---
This is a modified version of /opt/ros/noetic/share/husky_gazebo/launch/empty_world.launch
-->
<launch>

  <!--<arg name="world_name" default="worlds/empty.world"/>-->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(arg world_name)"/>-->
    <arg name="world_name" value="$(find followbot)/worlds/course_duo.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">	  
    <arg name="robot_namespace" value="waffles"/>
  </include>
  
</launch>
